{% extends "base.html" %}

{% block header_slim_buttons %}{% endblock header_slim_buttons %}

{% block container %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <form method="POST" action="" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{% url "home" %}" class="btn btn-outline-primary">Annulla</a>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock container %}